@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";
@source "../views";

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@theme {
    --font-figtree: 'Figtree', sans-serif;
}